<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/php/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Template Tests">
            <directory>tests/php/templates</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">templates</directory>
        </include>
        <report>
            <html outputDirectory="coverage/php" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="coverage/php/coverage.txt" showUncoveredFiles="true"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
    </php>
</phpunit>
